services:
  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin

  node_exporter:
    image: prom/node-exporter
    ports:
      - "9100:9100"

  postgres_exporter:
    image: prometheuscommunity/postgres-exporter
    environment:
      DATA_SOURCE_NAME: "postgresql://postgres:99113344@host.docker.internal:5432/olist_db?sslmode=disable"
    ports:
      - "9187:9187"

  custom_exporter:
    build:
      context: .
    image: custom_exporter:latest
    environment:
      - OWM_API_KEY=9236930e832a0e0c577adb449dfea0f3
      - CITY=Astana
    ports:
      - "8000:8000"
